[Desktop Entry]
Name=MX User Manager
Name[ca]=Administrador d'Usuaris MX
Name[de]=Benutzer-Manager für MX
Name[el]=διαχειριστής του χρήστη για MX
Name[es]=Gestor de usuarios para MX
Name[fr]=MX Gestionnaire de l'utilisateur
Name[it]=MX Manager Utenti
Name[ja]=MX ユーザーマネージャー
Name[nl]=MX Gebruikersbeheer
Name[pt_BR]=Gerenciador de Usuários do MX
Name[ro]=MX Manager Utilizator
Name[ru]=MX Менеджер пользователей
Name[sv]=Användarhanterare för MX
Comment=Simple user configuration
Comment[ca]=Configuració d'Usuari simple
Comment[de]=Einfache Benutzer-Konfiguration
Comment[el]=Απλή διαμόρφωση χρήστη
Comment[es]=Configuración simple de usuarios
Comment[fr]=Configuration simple d'utilisateur
Comment[it]=Semplice gestore di configurazione degli utenti
Comment[ja]=シンプルなユーザー設定
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[pt_BR]=Simple user configuration
Comment[ro]=Simplu configurator de conturi utilizator
Comment[ru]=Простая конфигурация пользователей
Comment[sv]=Enkel användar-konfiguration
Exec=su-to-root -X -c mx-user
Icon=mx-user
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application 
